@page "/CompetencyEvaluator"
@using Microsoft.Extensions.Localization
@using global::CompetencyEvaluator.Localization
@inject IStringLocalizer<CompetencyEvaluatorResource> L
@{
}
<h1>CompetencyEvaluator</h1>
<p>@L["SamplePageMessage"]</p>