@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CompetencyEvaluator.Localization
@using CompetencyEvaluator.Web.Pages.CompetencyEvaluator.Categories
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using CompetencyEvaluator.Categories;
@using System.Globalization
@inject IHtmlLocalizer<CompetencyEvaluatorResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/CompetencyEvaluator/Categories/EditModal" autocomplete="off">
    <abp-modal id="CategoryEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Category.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    

            <abp-input asp-for="Category.Name"   />


            <abp-input asp-for="Category.MaxAge"   />

                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
