@page
@using Microsoft.Extensions.Localization
@using CompetencyEvaluator.Localization
@using CompetencyEvaluator.Web.Pages.CompetencyEvaluator
@model CompetencyEvaluator.Web.Pages.CompetencyEvaluator.IndexModel
@inject IStringLocalizer<CompetencyEvaluatorResource> L

@{
}
<h1>CompetencyEvaluator</h1>
<p>@L["SamplePageMessage"]</p>
